<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to 'WikiBigo', root_path, class: "navbar-wagon-brand" %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Links -->
    <%= link_to "New article", new_article_path, class: "btn btn-primary" %>
  </div>
</div>
